#compnayname {
  background-color: aquamarine;
  text-align: center;
}
body {
  background-image: url(bacgroung\ of\ web.png);
  background-size: cover;
}
#opning {
  color: greenyellow;
  background-color: rgb(13, 66, 48);
  text-align: center;
}
